<h1>Carrito</h1>
<ul id="cart-list" class="product-list"></ul>
<button id="checkout-button" class="checkout-button">Realizar Pago</button>
<script src="/js/cart.js"></script>
<script>
    document.getElementById('checkout-button').addEventListener('click', () => {
        window.location.href = '/payment';
    });
</script>
