<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"> 
</head>
<body>
    {{> menu}}

    <h1>Lista de Productos</h1>
    <ul class="product-list">
        {{#each productos}}
            <li>
                <h2>{{this.name}}</h2>
                <p>{{this.description}}</p>
                <p>{{this.price}}</p>
                <button data-product-id="{{this._id}}" class="add-to-cart">Agregar al Carrito</button>
            </li>
        {{/each}}
    </ul>

    <a href="/cart" class="checkout-button">Ir al Carrito</a>

    <script src="/js/products.js"></script>
</body>
</html>
