{{!-- 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Home Page</title>
</head>
<body>  
  <h2>Recover password</h2>
  <hr>
  <form action="/api/session/recover02" method="post">
    <div id="mensaje"></div>
    <input type="email" name="email" placeholder="Ingrese su email">
    <input type="password" name="password" placeholder="Contraseña"> 
    <input type="text" name="navegador" value="ok" hidden=""> 
    <input type="submit" value="Ingresar">
  </form>
  <br><br>
  <a href="/dao/views/record.handlebars">Record</a>
  <a href="/dao/views/recover01.handlebars">¿Olvidaste tu clave?</a>
  <script src="/index.js"></script>
</body>
</html> --}}
