
<ul>
    <li>
        <a href="/">Home</a>
        
    </li>



    {{#if login}}
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/api/session/logout">Logout</a>
        </li>
        <li>
            <a href="/api/products">Products</a>
        </li>

    {{else}}
        <li>
            <a href="/registro">Record</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
       

    {{/if}}

</ul>