
<ul>
    <li>
        <a href="/">Home</a>
        
    </li>



    {{#if login}}
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/api/sessions/logout">Logout</a>
        </li>
        <li>
            <a href="/api/producs">Products</a>
        </li>

    {{else}}
        <li>
            <a href="/registro">Record</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
       
        {{!-- <li>
            <a href="/api/sessions/callbackGithub">Access with GitHub</a>
        </li> --}}
    {{/if}}

</ul>